<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.incir.retrofitsketch">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".P001RetrofitRestAdapterList"></activity>

        <activity android:name=".P002RetrofitRestAdapterUserSearch"></activity>

        <activity android:name=".P003RetrofitRestAdapterUserDetails"></activity>

        <activity android:name=".P004RetrofitAndJson"></activity>

        <activity android:name=".P005PicassoAndRetrofit"></activity>

        <activity android:name=".P006GithubRetrofitSade"></activity>

        <activity android:name=".P007GithubUserRepos"></activity>

        <activity android:name=".P008GithubPublicGists"></activity>

        <activity android:name=".P009GithubUsers"></activity>
        <activity android:name=".P009UserInfo"></activity>

        <activity android:name=".P010GithubGistsPublicAllInfo"></activity>

        <activity android:name=".P011UserSearch"></activity>
        <activity android:name=".P011GetUserInfo"></activity>
        <activity android:name=".P011ShowUserInfo"></activity>



        <activity android:name=".P123PicassoAndRetrofit"></activity>

        <activity android:name=".P124MapExample"></activity>

        <activity android:name=".P125RawListSetListAdapter"></activity>

    </application>

</manifest>
